
.DS_Store

.ghci

.stack-work/

stack.yaml.lock

*.inp

*.log

*.idx

*.aux

tex/fpbook.pdf

*.blg

*.ptb

*.toc

lhs/Chapters/

tex/Chapters/

tex/fpbook.bbl

_build/

tex/fpbook.ind

*.ilg

html/Chapters/

*.haux

fpcr
