:root{
  --FloralWite: rgb(255, 250, 240);
  --HoneyDew: rgb(240, 255, 40);
  --Levender: rgb(230, 230, 250);
  --LemonChiffoon: #FFDACD;
  --AliceBlue: #F0F8FF;
  --GhostWhite: #F8F8FF;
  /* aliceblue */
}

body {
    font-family: 'Helvetica' ;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    margin: 0 20%;

  }
  .main{
    display: flex;
    flex-direction: column;

  }
  .leftside {
    display: flex;
    width: 1300px;
    background-color: rgb(230, 230, 230);
    /* flex-direction: column; */
  }
  .menu-item{

    display: flex;
    flex-direction: column;
  }

nav > ul {

  background-color: rgb(230, 230, 230);
  list-style: none;   /* 移除項目符號 */
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

nav a {
  color: inherit; /* 移除超連結顏色 */
  display: block; /* 讓 <a> 填滿 <li> */
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;  /* 移除超連結底線 */
}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav li:hover {
  background-color: rgb(115, 115, 115);
  color: white;
}

.flex-nav {
  display: flex;
  /* justify-content: center; */
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* .leftside {
    width: 40%;
    padding: 50px;
    background-color: aqua;
    border: 1px solid red;
  } */
  h1 {
    color: navy;
  }
  h2 {
    color: navy;
  }
  h3 {
    color: navy;
  }
  h4 {
    color: navy;
  }



  .haskell {
    border-radius: 5px;
  }
  p {
    /* line-height: 30px; */
    /* text-indent:2em; */
  }
  pre {
    display: block;
    word-wrap:break-word;
    white-space: pre-wrap;

    margin: 20px ;
    color: rgb(33, 123, 197);
    /* background-color: aquamarine; */
  }
  .infobox {
    background-color:rgb(252, 221, 227);
    margin: 20px ;
    padding: 10px;
    border-radius: 5px;
  }
  .exlist {
    /* background-color:Yellow; */
  }
  .Exercise{
    background-color:var(--AliceBlue);
    margin: 20px ;
    padding: 10px;
    /* border-style: solid; */
    border-radius: 5px;
    /* border-color:rgb(33, 123, 197); */
  }
  .Answer{
    background-color:rgb(255, 236, 239);
    margin: 20px ;
    padding: 10px;

    /* border-style: solid; */
    border-radius: 5px;
    /* border-color:red; */
  }

  footer {
    margin-top: 50px;
    border-top: 1px solid silver;
    font-size: 0.8em;
  }

  footer ol {
    padding-left: 20px;
  }



  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.woff') format("woff"),
           url('../fonts/Helvetica.ttf') format("truetype"),
           url('../fonts/Helvetica.eot') format("embedded-opentype");
  }
  @font-face {
    font-family: 'Menlo';
    src: url('./Menlo-Regular.ttf') format("truetype"),
  }
