<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<title>bookdownlight</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript"
    src="https://www.maths.nottingham.ac.uk/plp/pmadw/LaTeXMathML.js">
</script>
<link rel="stylesheet" href="mystyle.css">
</head>
<body class="introcontent">

<aside class="leftside">
    <h3>函數式程式語言</h3>
</aside>

<div class='main' >
<nav>
    <ul class="flex-nav">
        <!-- <li><a>函數式程式語言</a></li> -->
        <li><a href="#">Ch1</a></li>
        <li><a href="#">Ch2</a></li>
        <li><a href="#">Ch3</a></li>
        <li><a href="#">Ch4</a></li>
        <li><a href="#">Ch5</a></li>
        <li><a href="#">Ch6</a></li>
    </ul>
</nav>

<div class="book">
