<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<title>bookdownlight</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript"
    src="https://www.maths.nottingham.ac.uk/plp/pmadw/LaTeXMathML.js">
</script>
<link rel="stylesheet" href="mystyle.css">
</head>
<body class="introcontent">


<div class='main' >
    <div>
        <h1 class="container">
        <p> 程式設計：函數程式語言 </p>
        </h1>
    </div>
    <nav>
        <ul class="container">
            <li><a href="Introduction.html"> Introduction </a></li>
            <li><a href="Basics.html"> Basics </a></li>
            <li><a href="Induction.html"> Induction </a></li>
            <li><a href="Semantics.html"> Semantics </a></li>
            <li><a href="Derivation.html"> Derivation </a></li>
            <li><a href="Folds.html"> Folds </a></li>
            <li><a href="SegProblems.html"> SegProblems </a></li>
        </ul>
    </nav>


<div class="book">
